:root{
    --timeAnimation: 0.5s;
    --timeAnimationBookSelected: 1.5s;
    --paperBook1:#ffe79e;
    --paperBook2:#cdbf94;
}
.space_book {
    width: 50px;
    height: 260px;
    /*border: 1px solid #CCC;*/
    perspective: 600px;
    /*background: #900;*/
    margin-left: 1px; margin-right: 0px;
    z-index: 20;
  }
  .hider{
      width: 100%;
      height: 10px;
      background: #8d5320;
      position: absolute;
      top: 0px;
      z-index: 10;
      border-bottom: 2px solid #5d3817;
      
      display: none;
  }
  .book {
    position: relative;
    top: 2px;
    width: 50px;
    height: 260px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: var(--timeAnimation);
    background: #771010;
  }
  
  .book:hover /*.lomo*/ {
    transition: var(--timeAnimation);
    transform: translateY(10px);
    height: 240px;
  }
  .lomo {
      position: absolute;
      top:12px;
      width: 100%;
      height: 250px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      backface-visibility: hidden;
      background: radial-gradient(#aa1111,#771010);
      transition: var(--timeAnimation);
    
      border-bottom: 4.5px solid #00000052;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0px 2px 2px #00000078;
      border-radius: 5px;
  }
  
  .book:hover .lomo {
      transition: var(--timeAnimation);
      height: 245px;
      top:17px;
      color: white;
      border-bottom: 0.5px solid #00000052;
  }
    
  .line{
      position: absolute;
      top: 20px;
      width: 96%;
      height: 5px;
      background: linear-gradient(113deg , #ffbe00 15%, #ffe391 24%, #ffbe00, #c77516, #ffbe00);
      margin-left: 1px;
      margin-right: 1px;
      border-radius: 1px;
      z-index: 1;
      transition: var(--timeAnimation);
  }
  .line:nth-child(1){
      top: 10px;
  }
  .line:nth-child(2){
      top: 20px;
  }
  .line:nth-child(3){
      top: 30px;
  }
  .line:nth-child(4){
      top: 40px;
  }
  .book:hover .line:nth-child(1){
      top: 15px;
  }
  .book:hover .line:nth-child(2){
      top: 25px;
  }
  .book:hover .line:nth-child(3){
      top: 35px;
  }
  .book:hover .line:nth-child(4){
      top: 45px;
  }
  
  
  .back__book{
      /*background: #ffe79e;*/
      background: linear-gradient(90deg, var(--paperBook1) 0%, var(--paperBook2) 10%, var(--paperBook1) 20%, var(--paperBook2) 30%, var(--paperBook1) 40%, var(--paperBook2) 50%, var(--paperBook1) 60%, var(--paperBook2) 70%, var(--paperBook1) 80%, var(--paperBook2) 90%, var(--paperBook1) 100%);
      width: 46px;
      border-left: 2px solid #771010;
      border-right: 2px solid #771010;
      border-bottom: 2px solid #771010;
      height: 9px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: var(--timeAnimation);
      border-radius: 5px;
  
  }
  .book:hover .back__book {
      transition: var(--timeAnimation);
      height: 15px;
  }
  
  .titleBook{
      transform: translateX(0px) translateY(185px) rotateZ(270deg);
      white-space: nowrap;
      color: inherit;
  }
  

  
  
  
.space_book_selected{
    position: absolute; 
    top: 0; 
    z-index: 200;
    transition: var(--timeAnimationBookSelected) ease;
    
    width:400px;
    display: grid;
    place-items: initial;
}
.space_book_selected .book{
    top: 0px;
    left: 0px;
}
.bookCoverFront{
    height: 250px;
    width: 200px;
    position: absolute;
    top: 0px;
    transform: rotateY(104deg);
    transition: var(--timeAnimation);
    transform-origin: left center;
    border-radius: 5px;
    transform-style: preserve-3d;
    
    left: 50px;
}
.bookCoverFrontTop{
    height: 250px;
    width: 200px;
    position: absolute;
    transition: var(--timeAnimation);
    border-radius: 5px;
}
.bookCoverFrontTitle{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20%;
    font-size: 25px;
    color: inherit;
    font-weight: 700;
}
.bookCoverFrontDown{
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0;
    transform: translateZ(-2.1px);
}
.bookCoverBack{
    position: absolute;
    top: -0.4px;
    height: 251.2px;
    width: 200px;
    background: radial-gradient(#244f93, #122557);
    transition: var(--timeAnimation);
    transform: rotateY(104deg);
    transform-style: preserve-3d;
    transform-origin: left center;
    place-items: center;
    display: grid;
    
    left: 50px;
}
.bookPage{
    position: absolute;
    width: 95%;
    height: 95%;
    background: linear-gradient(90deg,#897f61 -15%, #eddeaf);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: left center;
    transition: var(--timeAnimation);
    border: 0.5px solid #897f61;
    left: 0px;
}



  /*Books Colors*/
  /* ---- Red ---- */
.bookRed{
    background: #430c0c;
}
.bookLomoRed{
    background: linear-gradient(90deg,#7a2020 -6%, #a33030, #590d0d 79%);
    border-bottom: 4.5px solid #00000052;
    color: #3e0404;
}
.bookBack__bookRed{
    border-left: 2px solid #430c0c;
    border-right: 2px solid #430c0c;
    border-bottom: 2px solid #430c0c;
}
.bookCoverRed{
    background: radial-gradient(#af2626, #430c0c);
    border-left: 4px solid #430c0c;
    color: #4b0404;
}
.scrollRed::-webkit-scrollbar-thumb,
.scrollRed ::-webkit-scrollbar-thumb{
    background-color: #430c0c;
}
.liClass.liBookRed::marker{  
    color: #af2626;
}
.liClass.liBookRed label input[type="checkbox"]:checked + label{  
    background: #5f151581;
    border-radius: 7px;   
}

/* ---- Blue ---- */
.bookBlue{
    background: #0f1f47;
}
.bookLomoBlue{
    background: linear-gradient(90deg, #213872 -6%, #244f93, #0f1f47 79%);
    border-bottom: 4.5px solid #00000052;
    color: #8ab4f8;
}
.bookBack__bookBlue{
    border-left: 2px solid #0f1f47;
    border-right: 2px solid #0f1f47;
    border-bottom: 2px solid #0f1f47;
}
.bookCoverBlue{
    background: radial-gradient(#244f93, #0f1f47);
    border-left: 4px solid #0f1f47;
    color: #8ab4f8;
}
.scrollBlue::-webkit-scrollbar-thumb,
.scrollBlue ::-webkit-scrollbar-thumb{
    background-color: #0f1f47;
}
.liClass.liBookBlue::marker{  
    color: #244f93;
}
.liClass.liBookBlue label input[type="checkbox"]:checked + label{  
    background: #12265788;
    border-radius: 7px;   
}
  
/* ---- SkyBlue ---- */
.bookSkyBlue{
    background: #1e487c;
}
.bookLomoSkyBlue{
    background: linear-gradient(90deg, #2e6ebd -6%, #4995f3, #1e487c 79%);
    border-bottom: 4.5px solid #00000052;
    color: #1b3064;
}
.bookBack__bookSkyBlue{
    border-left: 2px solid #1e487c;
    border-right: 2px solid #1e487c;
    border-bottom: 2px solid #1e487c;
}
.bookCoverSkyBlue{
    background: radial-gradient(#4995f3, #1e487c);
    border-left: 4px solid #1e487c;
    color: #254085;
}
.scrollSkyBlue::-webkit-scrollbar-thumb,
.scrollSkyBlue ::-webkit-scrollbar-thumb{
    background-color: #1e487c;
}
.liClass.liBookSkyBlue::marker{  
    color: #4995f3;
}
.liClass.liBookSkyBlue input[type="checkbox"]:checked + label{  
    background: #20549387;
    border-radius: 7px;   
}
  
/* ---- Yellow ---- */
.bookYellow{
    background: #6d4b0c;
}
.bookLomoYellow{
    background: linear-gradient(90deg,#9e711e -6%, #f4a91c,#6d4b0c 79%);
    border-bottom: 4.5px solid #00000052;
    color: #513603;
  }
.bookBack__bookYellow{
    border-left: 2px solid #6d4b0c;
    border-right: 2px solid #6d4b0c;
    border-bottom: 2px solid #6d4b0c;
}
.bookCoverYellow{
    background: radial-gradient(#ffc355,#8d661f);
    border-left: 4px solid #6d4b0c;
    color: #754c00;
}
.scrollYellow::-webkit-scrollbar-thumb,
.scrollYellow ::-webkit-scrollbar-thumb{
    background-color: #6d4b0c;
}
.liClass.liBookYellow::marker{  
    color: #ffc355;
}
.liClass.liBookYellow input[type="checkbox"]:checked + label{  
    background: #6d4b0c;
    border-radius: 7px;   
}

/* ---- LightPurple ---- */
.bookLightPurple{
    background: #522c7a;
}
.bookLomoLightPurple{
    background: linear-gradient(90deg,#684b88 -6%, #8b75ad,#522c7a 79%);
    border-bottom: 4.5px solid #00000052;
    color: #3a294d;
}
.bookBack__bookLightPurple{
    border-left: 2px solid #522c7a;
    border-right: 2px solid #522c7a;
    border-bottom: 2px solid #522c7a;
}
.bookCoverLightPurple{
    background: radial-gradient(#8b75ad,#321e47);
    border-left: 4px solid ;
    color: #3a294d;
}
.scrollLightPurple::-webkit-scrollbar-thumb,
.scrollLightPurple ::-webkit-scrollbar-thumb{
    background-color: #522c7a;
}
.liClass.liBookLightPurple::marker{  
    color: #8b75ad;
}
.liClass.liBookLightPurple input[type="checkbox"]:checked + label{  
    background: #4b3a5d86;
    border-radius: 7px;   
}
 
/* ---- Purple ---- */
.bookPurple{
    background: #411f6c;
}
.bookLomoPurple{
    background: linear-gradient(90deg, #503a6b -6%, #754891, #411f6c 79%);
    border-bottom: 4.5px solid #00000052;
    color: #2a124b;
}
.bookBack__bookPurple{
    border-left: 2px solid #411f6c;
    border-right: 2px solid #411f6c;
    border-bottom: 2px solid #411f6c;
}
.bookCoverPurple{
    background: radial-gradient(#754891, #411f6c);
    border-left: 4px solid #411f6c;
    color: #2a124b;
}
.scrollPurple::-webkit-scrollbar-thumb,
.scrollPurple ::-webkit-scrollbar-thumb{
    background-color: #411f6c;
}
.liClass.liBookPurple::marker{  
    color: #754891;
}
.liClass.liBookPurple input[type="checkbox"]:checked + label{  
    background: #3e2a5983;
    border-radius: 7px;   
}
  
/* ---- Green ---- */
.bookGreen{
    background: #1f4b1d;
}
.bookLomoGreen{
    background: linear-gradient(90deg,#2d5b2a -6%, #569755,#14590e 79%);
    border-bottom: 4.5px solid #00000052;
    color: #065305;
}
.bookBack__bookGreen{
    border-left: 2px solid #14590e;
    border-right: 2px solid #14590e;
    border-bottom: 2px solid #14590e;
}
.bookCoverGreen{
    background: radial-gradient(#569755,#1f4b1d);
    border-left: 4px solid #1f4b1d;
    color: #065305;
}
.scrollGreen::-webkit-scrollbar-thumb,
.scrollGreen ::-webkit-scrollbar-thumb{
    background-color: #1f4b1d;
}
.liClass.liBookGreen::marker{  
    color: #569755;
}
.liClass.liBookGreen input[type="checkbox"]:checked + label{  
    background: #1f4b1d82;
    border-radius: 7px;   
}
  
/* ---- DarkGreen ---- */
.bookDarkGreen{
    background: #244524;
}
.bookLomoDarkGreen{
    background: linear-gradient(90deg, #2d532d -6%, #567755, #0f3a0f 79%);
    border-bottom: 4.5px solid #00000052;
    color: #0c270c;
}
.bookBack__bookDarkGreen{
    border-left: 2px solid #0f3a0f;
    border-right: 2px solid #0f3a0f;
    border-bottom: 2px solid #0f3a0f;
}
.bookCoverDarkGreen{
    background: radial-gradient(#567755, #244524);
    border-left: 4px solid #244524;
    color: #0c270c;
}
.scrollDarkGreen::-webkit-scrollbar-thumb,
.scrollDarkGreen ::-webkit-scrollbar-thumb{
    background-color: #244524;
}
.liClass.liBookDarkGreen::marker{  
    color: #567755;
}
.liClass.liBookDarkGreen input[type="checkbox"]:checked + label{  
    background: #24452481;
    border-radius: 7px;   
}
  

/* ---- Orange ---- */
.bookOrange{
    background: #954c18;
}
.bookLomoOrange{
    background: linear-gradient(90deg, #b3632a -6%, #d38435, #72380e 79%);
    border-bottom: 4.5px solid #00000052;
    color: #532b0f;
}
.bookBack__bookOrange{
    border-left: 2px solid #72380e;
    border-right: 2px solid #72380e;
    border-bottom: 2px solid #72380e;
}
.bookCoverOrange{
    background: radial-gradient(#ef8c26, #954c18);
    border-left: 4px solid #954c18;
    color: #532b0f;
}
.scrollOrange::-webkit-scrollbar-thumb,
.scrollOrange ::-webkit-scrollbar-thumb{
    background-color: #954c18;
}
.liClass.liBookOrange::marker{  
    color: #ef8c26;
}
.liClass.liBookOrange input[type="checkbox"]:checked + label{  
    background: #954c1882;
    border-radius: 7px;   
}

/* ---- Black ---- */
.bookBlack{
    background: #333333;
}
.bookLomoBlack{
    background:linear-gradient(90deg,#333333 -6%, #5a5454, #333333 69%);
    border-bottom: 4.5px solid #00000052;
    color: #cf6317;
}
.bookBack__bookBlack{
    border-left: 2px solid #333333;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
}
.bookCoverBlack{
    background: radial-gradient(#877f7f, #333333);
    border-left: 4px solid #333333;
    color: #202020;
}
.scrollBlack::-webkit-scrollbar-thumb,
.scrollBlack ::-webkit-scrollbar-thumb{
    background-color: #954c18;
}
.liClass.liBookBlack::marker{  
    color: #ef8c26;
}
.liClass.liBookBlack input[type="checkbox"]:checked + label{  
    background: #954c1882;
    border-radius: 7px;   
}
  
  /*Transparente*/
  
  .bookTransparent{
      background: transparent;
  }
  .bookLomoTransparent{
      background: transparent;
      border-bottom: 1.5px solid transparent;
      color: transparent;
      box-shadow: 0px 0px 3px transparent;
  }
  .bookBack__bookTransparent{
      background: transparent;
      width: 46px;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      height: 9px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: var(--timeAnimation);
  }
.transparent{
    background: transparent;
    border: transparent;
    color: transparent;
    box-shadow: 0px 0px 0px transparent;
    transition: 0s;
    cursor: default;
}
.transparent:hover{
    transition: 0s;
}
  .space_book_transparent{
      width: 50px;
      height: 260px;
      /* border: 1px solid #CCC; */
      perspective: 600px;
      /* background: #900; */
      margin-left: 1px;
      margin-right: 0px;
      z-index: 20;
  }
  .book_transparent {
      position: relative;
      top: 2px;
      width: 100%;
      height: 260px;
      transform-style: preserve-3d;
      transform-origin: center right;
      background: transparent;
    }
    
    
    
    añgo{
        background: linear-gradient(90deg, #333333, #5a5454, #333333 70%);
background: linear-gradient(90deg, #430947, #783232, #200122);
background: linear-gradient(90deg, #212121, #434343, #111111);
background: linear-gradient(90deg, #2f524b, #539181, #0b211c);
background: linear-gradient(90deg, #2f524b, #496f65, #0b211c);
background: linear-gradient(90deg, #563062, #7c4286, #2d1136);

background:linear-gradient(90deg,#676768 -6%, #BDC6C7, #676768 69%);


    }
    
/*Pages*/
    
.container_content_page{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.content_page{
    height: 95%;
    width: 85%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui;
    overflow: hidden;
}

.content_page_left{
    height: 95%;
    width: 46%;
    background: transparent;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    overflow-y: auto;
}
.content_page_right{
    height: 95%;
    width: 45%;
    background: transparent;
    padding-right: 2%;
    padding-left: 2%;
    overflow: hidden;
    overflow-y: auto;
}

.content_page_left h1{
    text-align: center;
}


    
.content_page_left::-webkit-scrollbar,
.content_page_left ::-webkit-scrollbar,
.content_page_right::-webkit-scrollbar,
.content_page_right ::-webkit-scrollbar {
    width: 11px;               /* width of the entire scrollbar */
}
  
.content_page_left::-webkit-scrollbar-track,
.content_page_left ::-webkit-scrollbar-track,
.content_page_right::-webkit-scrollbar-track,
.content_page_right ::-webkit-scrollbar-track {
    background: #857b5f;        /* color of the tracking area */
    border-radius:5px
}

.content_page_left::-webkit-scrollbar-thumb,
.content_page_left ::-webkit-scrollbar-thumb,
.content_page_right::-webkit-scrollbar-thumb,
.content_page_right ::-webkit-scrollbar-thumb {
    /*background-color: #614e78;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #857b5f;  /* creates padding around scroll thumb */
}