.ulClass{
    padding-left: 15px;
    
}

.liClass{
    padding: 3px;
    width: fit-content;

}

.liClass input[type="checkbox"]{
    display: none; 
}


.liClass::marker{  
    color: #ffc355;
    font-size: 22px;
    content: '\2315';
    font-weight:600;
}