
body { 
    font-family: sans-serif; 
    margin: 0px;
    overflow: hidden;
}

.librarie{
    background:#35230c;
    height: 283px;
    position: absolute;
    width: 100%;
    transition: 1s;
    top: 0px;
}
.top_librarie{
    background: #8d5320;
    width: 100%;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid #5d3817;
    z-index: 25;
}
.shelf{
    display: flex;
    height: 285px;
    overflow: hidden;
}

.inter_shelf{
    background: #5d3817;
    width: 100%;
    height: 15px;
    position: relative;
    top: -17px;
    z-index: 0;
}
.bottom_librarie{
    background: #8d5320;
    width: 100%;
    height: 21px;
    border-top: 2px solid #79481d;
    border-bottom: 2px solid #5d3817;
    position: relative;
    top: -17px;
    z-index: 0;
}

  
.space_librarie_lectern{
    width: 100%;
    height: 25px;
    background: #1e1508;
    position: absolute;
    top: 285px;
    
}


.containerReturnShelf{
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
}
.buttonReturnShelf{
    background: transparent;
    border: 0px;
    font-size: 35px;
    font-weight: 900;
    color: #897f61;
    padding: 0px;
    margin: 0px;
}
.alertNoResponsive{
    display: none;
}
@media (max-width: 630px) {
    .alertNoResponsive{
        display: block;
        position: absolute;
        top: calc(50vh - 38.5vh);
        left: calc(50vw - 38.5vw);
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        width: 75vw;
        height: 75vh;
        z-index: 400;
        color: #ffdfdf;
        background: #4b0404;
        border: 3px solid #f01717;
        border-radius: 10px;
    }
    .alertNoResponsive button{
        background: #691010;
        color: #ffdfdf;
        font-size: 30px;
        font-weight: 700;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;
        position: absolute;
        right: 1vw;
        border: 2px solid #f01717 ;
        border-radius: 30%;
    }
}


.content_page_right h1{
    text-align: center;
}
.content_page_right h3{
    border-bottom: 2px solid;
}
.panelCodeView{
    /*width: 80%;*/
    max-height: 250px;
    height: fit-content;
    background: #0f131e;
    border-left: 5px solid #3a3a3a;
    border-top: 5px solid #3a3a3a;
    border-right: 5px solid #818181;
    border-bottom: 5px solid #818181;
    overflow: auto;
}
.titleCodeView{
    color: white;
    border: 1px solid white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0px;
    background: #0f131e;
}
.panelCodeView::-webkit-scrollbar-track{
    border-radius: 0px !important;
}
.codeView{
    color:white;
}
g{ /*green*/
    color:#05d905;
}
b{ /*blue*/
    color:#31b4d3;
}
y{ /*yellow*/
    color:#f9e86e;
}
o{ /*coral*/
    color:#eb8e55;
}
f{
    color:rgb(175, 112, 162);
}


.btnNonStyle{
    background: transparent;
    border: 0px;
}

.upperStyle:hover{
    color:blue;
}