body{
    background-color: #d1d1d1;
    text-align: center;
}
header{
    display: grid;
    text-align: center;
    min-width: 300px;
    font-size: 200%;
    font-style: normal;
    font-family: system-ui;
    background-color: #699ace;
    width: 100%;
    min-width: 700px;
    height: 100px;
    margin: 0px;
    color: white;
    border: 5px solid rgb(204 253 255 / 50%);
}
header a:nth-child(1){
    text-decoration: underline 3px white; 
    min-width: 520px;
  
}
header a:nth-child(2){
    /* text-decoration: underline 3px red; */
    min-width: 520px;
    margin-top: 10px;
}

aside{
    left: 0px;
    top: 0px;
    background-color: #8bb1da;
    min-width: 300px;
    width: 300px;
    height: 600px;
    text-align: initial;
}
section{
    /*position:absolute;*/
    top: 100px;
}
